In [40]:
import pandas as pd

df = pd.read_csv('sales_clean.csv')

df.head().T

,0,1,2,3,4
product_id,1052,1093,1015,1072,1061
sale_date,2023-02-03,2023-04-21,2023-09-21,2023-08-24,2023-03-24
sales_rep,bob,bob,david,bob,charlie
region,north,west,south,south,east
sales_amount,5053.97,4384.02,4631.23,2167.94,3750.2
quantity_sold,18,17,30,39,13
product_category,furniture,furniture,food,clothing,electronics
unit_cost,152.75,3816.39,261.56,4330.03,637.37
unit_price,267.22,4209.44,371.4,4467.75,692.71
customer_type,returning,returning,returning,new,new
discount,0.09,0.11,0.2,0.02,0.08
payment_method,cash,cash,bank_transfer,credit_card,credit_card
sales_channel,online,retail,retail,retail,online
region_and_sales_rep,north-bob,west-bob,south-david,south-bob,east-charlie
year_month,2023-02,2023-04,2023-09,2023-08,2023-03

In [39]:
df.year_month.value_counts()

year_month
2023-01    100
2023-11     95
2023-08     93
2023-06     92
2023-10     88
2023-12     85
2023-04     81
2023-03     80
2023-02     75
2023-05     72
2023-09     68
2023-07     68
2024-01      3
Name: count, dtype: int64

ANALISE EXPLORATORIA DE DADOS(EDA)

PRODUTOS COM MAIS VENDAS

In [6]:
df.groupby('product_id')['quantity_sold'].sum().sort_values(ascending = False)

product_id
1090    590
1092    548
1062    506
1099    502
1058    452
       ...
1083    125
1065    105
1011     75
1043     65
1031     64
Name: quantity_sold, Length: 100, dtype: int64

PRODUTO COM MAIS LUCRO

In [7]:
df.groupby('product_id')['sales_amount'].sum().sort_values(ascending = False)

product_id
1099    101773.87
1092     90615.62
1033     89130.41
1090     88043.25
1086     82269.71
          ...
1011     19099.43
1079     17828.37
1041     10682.46
1031      9782.28
1083      8059.05
Name: sales_amount, Length: 100, dtype: float64

REPRESENTANTES

In [8]:
df.sales_rep.value_counts()

sales_rep
david      222
eve        209
bob        208
alice      192
charlie    169
Name: count, dtype: int64

QUANTIDADE DE ITENS VENDIDOS POR REPRESENTANTES

In [9]:
df.groupby('sales_rep')['quantity_sold'].sum().sort_values(ascending = False)

sales_rep
david      6042
eve        5287
bob        4977
alice      4832
charlie    4217
Name: quantity_sold, dtype: int64

LUCRO DAS VENDA POR REPRESENTANTES

In [10]:
df.groupby('sales_rep')['sales_amount'].sum().sort_values(ascending = False)

sales_rep
david      1141737.36
bob        1080990.63
eve         970183.99
alice       965541.77
charlie     860811.48
Name: sales_amount, dtype: float64

REGIÕES

In [11]:
df.region.value_counts()

region
north    267
east     263
west     244
south    226
Name: count, dtype: int64

LUCRO DAS VENDAS POR REGIÃO

In [12]:
df.groupby('region')['sales_amount'].sum().sort_values(ascending = False)

region
north    1369612.51
east     1259792.93
west     1235608.93
south    1154250.86
Name: sales_amount, dtype: float64

QUANTIDADE DE ITENS VENDIDOS POR REGIÃO

In [13]:
df.groupby('region')['quantity_sold'].sum().sort_values(ascending = False)

region
north    6705
west     6486
east     6356
south    5808
Name: quantity_sold, dtype: int64

CLIENTES NOVOS OU ANTIGOS ?

In [14]:
df.customer_type.value_counts()

customer_type
new          504
returning    496
Name: count, dtype: int64

LUCRO POR TIPO DE CLIENTE

In [15]:
df.groupby('customer_type')['sales_amount'].sum().sort_values(ascending = False)

customer_type
returning    2513006.93
new          2506258.30
Name: sales_amount, dtype: float64

VENDAS POR SEÇÕES

SETORES COM MAIOR LUCRO

In [16]:
df.groupby('product_category')['sales_amount'].sum().sort_values(ascending = False)

product_category
clothing       1313474.36
furniture      1260517.69
electronics    1243499.64
food           1201773.54
Name: sales_amount, dtype: float64

SETORES COM MAIOR NUMERO DE VENDAS

In [17]:
df.groupby('product_category')['quantity_sold'].sum().sort_values(ascending = False)

product_category
clothing       6922
furniture      6729
electronics    6096
food           5608
Name: quantity_sold, dtype: int64

CANAIS DE VENDAS

VENDAS OLINE X FISICAS

In [18]:
df.groupby('sales_channel')['sales_amount'].sum().sort_values(ascending = False)

sales_channel
retail    2560431.30
online    2458833.93
Name: sales_amount, dtype: float64

In [19]:
df.groupby('sales_channel')['quantity_sold'].sum().sort_values(ascending = False)

sales_channel
retail    12753
online    12602
Name: quantity_sold, dtype: int64

VENDAS POR MÊS

In [20]:
df.year_month.value_counts()

year_month
2023-01    100
2023-11     95
2023-08     93
2023-06     92
2023-10     88
2023-12     85
2023-04     81
2023-03     80
2023-02     75
2023-05     72
2023-09     68
2023-07     68
2024-01      3
Name: count, dtype: int64

MESES COM MAIORES NUMEROS DE VENDAS

In [21]:
df.groupby('year_month')['quantity_sold'].sum().sort_values(ascending = False)

year_month
2023-01    2472
2023-10    2386
2023-08    2336
2023-06    2276
2023-12    2183
2023-11    2129
2023-03    2069
2023-02    2064
2023-04    1977
2023-05    1968
2023-09    1815
2023-07    1603
2024-01      77
Name: quantity_sold, dtype: int64

MESES COM MAIS LUCRO

In [22]:
df.groupby('year_month')['sales_amount'].sum().sort_values(ascending = False)

year_month
2023-01    476092.36
2023-11    467482.90
2023-10    460378.78
2023-08    443171.28
2023-04    438992.61
2023-06    418458.34
2023-03    402638.77
2023-12    392643.58
2023-05    389078.76
2023-07    374242.88
2023-02    368919.36
2023-09    367837.60
2024-01     19328.01
Name: sales_amount, dtype: float64

MultiIndex search

In [23]:
df.columns

Index(['product_id', 'sale_date', 'sales_rep', 'region', 'sales_amount',
       'quantity_sold', 'product_category', 'unit_cost', 'unit_price',
       'customer_type', 'discount', 'payment_method', 'sales_channel',
       'region_and_sales_rep', 'year_month'],
      dtype='object')

In [24]:
df.groupby(['customer_type', 'payment_method'])['sales_amount'].sum().sort_index(ascending = False)

customer_type  payment_method
returning      credit_card       920894.22
               cash              764528.04
               bank_transfer     827584.67
new            credit_card       836669.30
               cash              779810.50
               bank_transfer     889778.50
Name: sales_amount, dtype: float64

In [25]:
df.groupby(['customer_type', 'product_category'])['sales_amount'].sum().sort_index(ascending = False)

customer_type  product_category
returning      furniture           703541.41
               food                598431.07
               electronics         600789.64
               clothing            610244.81
new            furniture           556976.28
               food                603342.47
               electronics         642710.00
               clothing            703229.55
Name: sales_amount, dtype: float64

In [26]:
df.groupby(['customer_type', 'region'])['sales_amount'].sum().sort_index(ascending = False)

customer_type  region
returning      west      689324.17
               south     635776.76
               north     607101.16
               east      580804.84
new            west      546284.76
               south     518474.10
               north     762511.35
               east      678988.09
Name: sales_amount, dtype: float64

In [27]:
df.groupby(['customer_type', 'sales_channel'])['sales_amount'].sum().sort_index(ascending = False)

customer_type  sales_channel
returning      retail           1336797.01
               online           1176209.92
new            retail           1223634.29
               online           1282624.01
Name: sales_amount, dtype: float64

In [28]:
df.groupby(['region', 'product_category'])['quantity_sold'].sum().sort_index(ascending = False)

region  product_category
west    furniture           1889
        food                1389
        electronics         1539
        clothing            1669
south   furniture           1440
        food                1577
        electronics         1274
        clothing            1517
north   furniture           1927
        food                1179
        electronics         1660
        clothing            1939
east    furniture           1473
        food                1463
        electronics         1623
        clothing            1797
Name: quantity_sold, dtype: int64

In [29]:
df.groupby(['region', 'product_category'])['sales_amount'].sum().sort_index(ascending = False)

region  product_category
west    furniture           301496.45
        food                315735.51
        electronics         304067.97
        clothing            314309.00
south   furniture           289881.65
        food                301187.51
        electronics         293663.96
        clothing            269517.74
north   furniture           394983.35
        food                258985.65
        electronics         342666.29
        clothing            372977.22
east    furniture           274156.24
        food                325864.87
        electronics         303101.42
        clothing            356670.40
Name: sales_amount, dtype: float64

In [30]:
df.groupby(['region', 'sales_rep'])['sales_amount'].sum().sort_index(ascending = False)

region  sales_rep
west    eve          230592.67
        david        263167.59
        charlie      239708.85
        bob          286449.28
        alice        215690.54
south   eve          196078.22
        david        311416.99
        charlie      156140.68
        bob          251200.43
        alice        239414.54
north   eve          304172.20
        david        282539.27
        charlie      299789.01
        bob          233464.81
        alice        249647.22
east    eve          239340.90
        david        284613.51
        charlie      165172.94
        bob          309876.11
        alice        260789.47
Name: sales_amount, dtype: float64

In [31]:
df.groupby(['sales_rep', 'customer_type'])['sales_amount'].sum().sort_index(ascending = False)

sales_rep  customer_type
eve        returning        462454.68
           new              507729.31
david      returning        569598.99
           new              572138.37
charlie    returning        443195.46
           new              417616.02
bob        returning        557530.42
           new              523460.21
alice      returning        480227.38
           new              485314.39
Name: sales_amount, dtype: float64

In [32]:
df.groupby(['sales_rep', 'sales_channel'])['sales_amount'].sum().sort_index(ascending = False)

sales_rep  sales_channel
eve        retail           553002.21
           online           417181.78
david      retail           564939.06
           online           576798.30
charlie    retail           413096.20
           online           447715.28
bob        retail           568188.21
           online           512802.42
alice      retail           461205.62
           online           504336.15
Name: sales_amount, dtype: float64

In [33]:
df.groupby(['product_category', 'sales_rep'])['sales_amount'].sum().sort_index(ascending = False)

product_category  sales_rep
furniture         eve          232845.49
                  david        301450.63
                  charlie      220677.01
                  bob          264421.15
                  alice        241123.41
food              eve          197852.62
                  david        281658.53
                  charlie      182441.71
                  bob          312988.52
                  alice        226832.16
electronics       eve          277780.56
                  david        240443.36
                  charlie      214363.09
                  bob          248596.34
                  alice        262316.29
clothing          eve          261705.32
                  david        318184.84
                  charlie      243329.67
                  bob          254984.62
                  alice        235269.91
Name: sales_amount, dtype: float64

In [34]:
df.groupby(['sales_channel', 'product_category'])['sales_amount'].sum().sort_index(ascending = False)

sales_channel  product_category
retail         furniture           612602.21
               food                662725.70
               electronics         578769.97
               clothing            706333.42
online         furniture           647915.48
               food                539047.84
               electronics         664729.67
               clothing            607140.94
Name: sales_amount, dtype: float64

In [41]:
df.groupby(['sales_channel', 'sales_rep'])['sales_amount'].sum().sort_index(ascending = False)

sales_channel  sales_rep
retail         eve          553002.21
               david        564939.06
               charlie      413096.20
               bob          568188.21
               alice        461205.62
online         eve          417181.78
               david        576798.30
               charlie      447715.28
               bob          512802.42
               alice        504336.15
Name: sales_amount, dtype: float64

In [35]:
df.groupby(['sales_channel', 'payment_method'])['sales_amount'].sum().sort_index(ascending = False)

sales_channel  payment_method
retail         credit_card       952342.36
               cash              806928.53
               bank_transfer     801160.41
online         credit_card       805221.16
               cash              737410.01
               bank_transfer     916202.76
Name: sales_amount, dtype: float64

In [38]:
df.groupby(['year_month', 'customer_type'])['quantity_sold'].sum().sort_index(ascending = False)

year_month  customer_type
2024-01     returning          53
            new                24
2023-12     returning         980
            new              1203
2023-11     returning         926
            new              1203
2023-10     returning        1264
            new              1122
2023-09     returning         746
            new              1069
2023-08     returning        1179
            new              1157
2023-07     returning         689
            new               914
2023-06     returning        1147
            new              1129
2023-05     returning        1038
            new               930
2023-04     returning        1115
            new               862
2023-03     returning         984
            new              1085
2023-02     returning         946
            new              1118
2023-01     returning        1104
            new              1368
Name: quantity_sold, dtype: int64