In [1]:
import pandas as pd

df = pd.read_csv('sales_data.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

In [3]:
df.isna().any()

Product_ID              False
Sale_Date               False
Sales_Rep               False
Region                  False
Sales_Amount            False
Quantity_Sold           False
Product_Category        False
Unit_Cost               False
Unit_Price              False
Customer_Type           False
Discount                False
Payment_Method          False
Sales_Channel           False
Region_and_Sales_Rep    False
dtype: bool

In [4]:
df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [5]:
df.columns = df.columns.str.lower()
categorical = list(df.dtypes[df.dtypes == 'object'].index)
for c in categorical:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [6]:
df.head()

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep
0,1052,2023-02-03,bob,north,5053.97,18,furniture,152.75,267.22,returning,0.09,cash,online,north-bob
1,1093,2023-04-21,bob,west,4384.02,17,furniture,3816.39,4209.44,returning,0.11,cash,retail,west-bob
2,1015,2023-09-21,david,south,4631.23,30,food,261.56,371.40,returning,0.20,bank_transfer,retail,south-david
3,1072,2023-08-24,bob,south,2167.94,39,clothing,4330.03,4467.75,new,0.02,credit_card,retail,south-bob
4,1061,2023-03-24,charlie,east,3750.20,13,electronics,637.37,692.71,new,0.08,credit_card,online,east-charlie

In [7]:
df['sale_date'] = pd.to_datetime(df['sale_date'], errors='coerce')
df = df.dropna(subset=['sale_date'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_id            1000 non-null   int64
 1   sale_date             1000 non-null   datetime64[ns]
 2   sales_rep             1000 non-null   object
 3   region                1000 non-null   object
 4   sales_amount          1000 non-null   float64
 5   quantity_sold         1000 non-null   int64
 6   product_category      1000 non-null   object
 7   unit_cost             1000 non-null   float64
 8   unit_price            1000 non-null   float64
 9   customer_type         1000 non-null   object
 10  discount              1000 non-null   float64
 11  payment_method        1000 non-null   object
 12  sales_channel         1000 non-null   object
 13  region_and_sales_rep  1000 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 109.5+ KB

In [9]:
df.head()

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep
0,1052,2023-02-03,bob,north,5053.97,18,furniture,152.75,267.22,returning,0.09,cash,online,north-bob
1,1093,2023-04-21,bob,west,4384.02,17,furniture,3816.39,4209.44,returning,0.11,cash,retail,west-bob
2,1015,2023-09-21,david,south,4631.23,30,food,261.56,371.40,returning,0.20,bank_transfer,retail,south-david
3,1072,2023-08-24,bob,south,2167.94,39,clothing,4330.03,4467.75,new,0.02,credit_card,retail,south-bob
4,1061,2023-03-24,charlie,east,3750.20,13,electronics,637.37,692.71,new,0.08,credit_card,online,east-charlie

In [10]:
df['year_month'] = df['sale_date'].dt.to_period('M').astype(str)
df.head().T

,0,1,2,3,4
product_id,1052,1093,1015,1072,1061
sale_date,2023-02-03 00:00:00,2023-04-21 00:00:00,2023-09-21 00:00:00,2023-08-24 00:00:00,2023-03-24 00:00:00
sales_rep,bob,bob,david,bob,charlie
region,north,west,south,south,east
sales_amount,5053.97,4384.02,4631.23,2167.94,3750.2
quantity_sold,18,17,30,39,13
product_category,furniture,furniture,food,clothing,electronics
unit_cost,152.75,3816.39,261.56,4330.03,637.37
unit_price,267.22,4209.44,371.4,4467.75,692.71
customer_type,returning,returning,returning,new,new
discount,0.09,0.11,0.2,0.02,0.08
payment_method,cash,cash,bank_transfer,credit_card,credit_card
sales_channel,online,retail,retail,retail,online
region_and_sales_rep,north-bob,west-bob,south-david,south-bob,east-charlie
year_month,2023-02,2023-04,2023-09,2023-08,2023-03

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_id            1000 non-null   int64
 1   sale_date             1000 non-null   datetime64[ns]
 2   sales_rep             1000 non-null   object
 3   region                1000 non-null   object
 4   sales_amount          1000 non-null   float64
 5   quantity_sold         1000 non-null   int64
 6   product_category      1000 non-null   object
 7   unit_cost             1000 non-null   float64
 8   unit_price            1000 non-null   float64
 9   customer_type         1000 non-null   object
 10  discount              1000 non-null   float64
 11  payment_method        1000 non-null   object
 12  sales_channel         1000 non-null   object
 13  region_and_sales_rep  1000 non-null   object
 14  year_month            1000 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(8)
memory usage: 117.3+ KB

In [12]:
df.columns

Index(['product_id', 'sale_date', 'sales_rep', 'region', 'sales_amount',
       'quantity_sold', 'product_category', 'unit_cost', 'unit_price',
       'customer_type', 'discount', 'payment_method', 'sales_channel',
       'region_and_sales_rep', 'year_month'],
      dtype='object')

FIM LIMPEZA!

In [13]:
df.to_csv('sales_clean.csv', index=False)