In [32]:
import pandas as pd

df = pd.read_csv('sales_data.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

In [34]:
df.isna().any()

Product_ID              False
Sale_Date               False
Sales_Rep               False
Region                  False
Sales_Amount            False
Quantity_Sold           False
Product_Category        False
Unit_Cost               False
Unit_Price              False
Customer_Type           False
Discount                False
Payment_Method          False
Sales_Channel           False
Region_and_Sales_Rep    False
dtype: bool

In [35]:
df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [36]:
df.columns = df.columns.str.lower()
categorical = list(df.dtypes[df.dtypes == 'object'].index)
for c in categorical:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [37]:
df.head()

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep
0,1052,2023-02-03,bob,north,5053.97,18,furniture,152.75,267.22,returning,0.09,cash,online,north-bob
1,1093,2023-04-21,bob,west,4384.02,17,furniture,3816.39,4209.44,returning,0.11,cash,retail,west-bob
2,1015,2023-09-21,david,south,4631.23,30,food,261.56,371.40,returning,0.20,bank_transfer,retail,south-david
3,1072,2023-08-24,bob,south,2167.94,39,clothing,4330.03,4467.75,new,0.02,credit_card,retail,south-bob
4,1061,2023-03-24,charlie,east,3750.20,13,electronics,637.37,692.71,new,0.08,credit_card,online,east-charlie

In [38]:
df['sale_date'] = pd.to_datetime(df['sale_date'], errors='coerce')
df = df.dropna(subset=['sale_date'])

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_id            1000 non-null   int64
 1   sale_date             1000 non-null   datetime64[ns]
 2   sales_rep             1000 non-null   object
 3   region                1000 non-null   object
 4   sales_amount          1000 non-null   float64
 5   quantity_sold         1000 non-null   int64
 6   product_category      1000 non-null   object
 7   unit_cost             1000 non-null   float64
 8   unit_price            1000 non-null   float64
 9   customer_type         1000 non-null   object
 10  discount              1000 non-null   float64
 11  payment_method        1000 non-null   object
 12  sales_channel         1000 non-null   object
 13  region_and_sales_rep  1000 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 109.5+ KB

In [40]:
df.head()

,product_id,sale_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,region_and_sales_rep
0,1052,2023-02-03,bob,north,5053.97,18,furniture,152.75,267.22,returning,0.09,cash,online,north-bob
1,1093,2023-04-21,bob,west,4384.02,17,furniture,3816.39,4209.44,returning,0.11,cash,retail,west-bob
2,1015,2023-09-21,david,south,4631.23,30,food,261.56,371.40,returning,0.20,bank_transfer,retail,south-david
3,1072,2023-08-24,bob,south,2167.94,39,clothing,4330.03,4467.75,new,0.02,credit_card,retail,south-bob
4,1061,2023-03-24,charlie,east,3750.20,13,electronics,637.37,692.71,new,0.08,credit_card,online,east-charlie

In [41]:
df['year_month'] = df['sale_date'].dt.to_period('M').astype(str)
df.head().T

,0,1,2,3,4
product_id,1052,1093,1015,1072,1061
sale_date,2023-02-03 00:00:00,2023-04-21 00:00:00,2023-09-21 00:00:00,2023-08-24 00:00:00,2023-03-24 00:00:00
sales_rep,bob,bob,david,bob,charlie
region,north,west,south,south,east
sales_amount,5053.97,4384.02,4631.23,2167.94,3750.2
quantity_sold,18,17,30,39,13
product_category,furniture,furniture,food,clothing,electronics
unit_cost,152.75,3816.39,261.56,4330.03,637.37
unit_price,267.22,4209.44,371.4,4467.75,692.71
customer_type,returning,returning,returning,new,new
discount,0.09,0.11,0.2,0.02,0.08
payment_method,cash,cash,bank_transfer,credit_card,credit_card
sales_channel,online,retail,retail,retail,online
region_and_sales_rep,north-bob,west-bob,south-david,south-bob,east-charlie
year_month,2023-02,2023-04,2023-09,2023-08,2023-03

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_id            1000 non-null   int64
 1   sale_date             1000 non-null   datetime64[ns]
 2   sales_rep             1000 non-null   object
 3   region                1000 non-null   object
 4   sales_amount          1000 non-null   float64
 5   quantity_sold         1000 non-null   int64
 6   product_category      1000 non-null   object
 7   unit_cost             1000 non-null   float64
 8   unit_price            1000 non-null   float64
 9   customer_type         1000 non-null   object
 10  discount              1000 non-null   float64
 11  payment_method        1000 non-null   object
 12  sales_channel         1000 non-null   object
 13  region_and_sales_rep  1000 non-null   object
 14  year_month            1000 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(8)
memory usage: 117.3+ KB

In [61]:
df.columns

Index(['product_id', 'sale_date', 'sales_rep', 'region', 'sales_amount',
       'quantity_sold', 'product_category', 'unit_cost', 'unit_price',
       'customer_type', 'discount', 'payment_method', 'sales_channel',
       'region_and_sales_rep', 'year_month'],
      dtype='object')

FIM LIMPEZA!

PRODUTOS COM MAIS VENDAS

In [42]:
df.groupby('product_id')['quantity_sold'].sum().sort_values(ascending = False)

product_id
1090    590
1092    548
1062    506
1099    502
1058    452
       ...
1083    125
1065    105
1011     75
1043     65
1031     64
Name: quantity_sold, Length: 100, dtype: int64

In [43]:
df.groupby('product_id')['sales_amount'].sum().sort_values(ascending = False)

product_id
1099    101773.87
1092     90615.62
1033     89130.41
1090     88043.25
1086     82269.71
          ...
1011     19099.43
1079     17828.37
1041     10682.46
1031      9782.28
1083      8059.05
Name: sales_amount, Length: 100, dtype: float64

VENDAS POR REPRESENTANTES

In [44]:
df.sales_rep.value_counts()

sales_rep
david      222
eve        209
bob        208
alice      192
charlie    169
Name: count, dtype: int64

In [45]:
df.groupby('sales_rep')['quantity_sold'].sum().sort_values(ascending = False)

sales_rep
david      6042
eve        5287
bob        4977
alice      4832
charlie    4217
Name: quantity_sold, dtype: int64

In [46]:
df.groupby('sales_rep')['sales_amount'].sum().sort_values(ascending = False)

sales_rep
david      1141737.36
bob        1080990.63
eve         970183.99
alice       965541.77
charlie     860811.48
Name: sales_amount, dtype: float64

VENDAS POR REGIÕES

In [47]:
df.region.value_counts()

region
north    267
east     263
west     244
south    226
Name: count, dtype: int64

In [48]:
df.groupby('region')['sales_amount'].sum().sort_values(ascending = False)

region
north    1369612.51
east     1259792.93
west     1235608.93
south    1154250.86
Name: sales_amount, dtype: float64

In [49]:
df.groupby('region')['quantity_sold'].sum().sort_values(ascending = False)

region
north    6705
west     6486
east     6356
south    5808
Name: quantity_sold, dtype: int64

CLIENTES NOVOS OU ANTIGOS ?

In [50]:
df.customer_type.value_counts()

customer_type
new          504
returning    496
Name: count, dtype: int64

In [51]:
df.groupby('customer_type')['sales_amount'].sum().sort_values(ascending = False)

customer_type
returning    2513006.93
new          2506258.30
Name: sales_amount, dtype: float64

VENDAS POR SEÇÕES

In [52]:
df.groupby('product_category')['sales_amount'].sum().sort_values(ascending = False)

product_category
clothing       1313474.36
furniture      1260517.69
electronics    1243499.64
food           1201773.54
Name: sales_amount, dtype: float64

In [53]:
df.groupby('product_category')['quantity_sold'].sum().sort_values(ascending = False)

product_category
clothing       6922
furniture      6729
electronics    6096
food           5608
Name: quantity_sold, dtype: int64

VENDAS ONLINE VS FISICAS

In [54]:
df.groupby('sales_channel')['sales_amount'].sum().sort_values(ascending = False)

sales_channel
retail    2560431.30
online    2458833.93
Name: sales_amount, dtype: float64

In [55]:
df.groupby('sales_channel')['quantity_sold'].sum().sort_values(ascending = False)

sales_channel
retail    12753
online    12602
Name: quantity_sold, dtype: int64

VENDAS POR MÊS

In [60]:
df.year_month.value_counts()

year_month
2023-01    100
2023-11     95
2023-08     93
2023-06     92
2023-10     88
2023-12     85
2023-04     81
2023-03     80
2023-02     75
2023-05     72
2023-09     68
2023-07     68
2024-01      3
Name: count, dtype: int64

In [56]:
df.groupby('year_month')['quantity_sold'].sum().sort_values(ascending = False)

year_month
2023-01    2472
2023-10    2386
2023-08    2336
2023-06    2276
2023-12    2183
2023-11    2129
2023-03    2069
2023-02    2064
2023-04    1977
2023-05    1968
2023-09    1815
2023-07    1603
2024-01      77
Name: quantity_sold, dtype: int64

In [57]:
df.groupby('year_month')['sales_amount'].sum().sort_values(ascending = False)

year_month
2023-01    476092.36
2023-11    467482.90
2023-10    460378.78
2023-08    443171.28
2023-04    438992.61
2023-06    418458.34
2023-03    402638.77
2023-12    392643.58
2023-05    389078.76
2023-07    374242.88
2023-02    368919.36
2023-09    367837.60
2024-01     19328.01
Name: sales_amount, dtype: float64

In [63]:
df.to_csv('sales_clean.csv', index=False)